html {
  font-family: Verdana;
  background-color: black;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

.download {
  color: aquamarine;
  font-size: 16px;
  text-align: center;
}

video {
  text-align: center;
  margin: 0 auto;
  display: block;
}

#slogan {
  font-weight: 300;
  font-size: 42px;
}

h2 {
  font-size: 21px;
  color: Gray;
  text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer {
  text-align: right;
  color: Gray;
}
